@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-white
  text-black;
}

input,
textarea {
  @apply outline-none
  transition-all
  focus:border-[1px]
  focus:border-primary-500;
}

.hover-btn {
  @apply transition
  duration-300
  ease-in-out
  hover:bg-primary-50
  hover:text-primary-600;
}
